.notes {
  padding: 2% 20%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.notes__title {
  text-decoration: underline;
  margin-top: 30px;
  text-align: center;
}

.notes__anchors li {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  color: whitesmoke;
}

.notes__section {
  background-color: antiquewhite;
}

.notes__img {
  width: 70%;
  margin-bottom: 10px;
}

