.notes {
  padding: 2% 20%;
  display: flex;
  flex-direction: column;
}

.notes__title {
  text-decoration: underline;
  margin-top: 30px;
}

.notes__anchors {
  display: flex;
  flex-direction: column;
  text-align: left;
  text-decoration: none;
  color: whitesmoke;
  li {
    text-decoration: none;
  }
}

.notes__section {
  background-color: antiquewhite;
}

.notes__img {
  width: 100%;
}

