.notes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: rgb(43, 38, 117);
}

.notes__title {
  text-decoration: underline;
}

.notes__anchors {
  display: flex;
  flex-direction: column;
  text-align: left;
  text-decoration: none;
  li {
    text-decoration: none;
  }
}

.left-section {
  background-color: antiquewhite;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  text-align: left;
  text-decoration: none;
}

.right-section {
  background-color: rgb(199, 148, 82);
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  text-align: right;
  text-decoration: none;
}
